doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    //- link(rel='stylesheet', href='/stylesheets/index.css')
  body
    //- script(type='text/javascript', src='javascripts/index.js')
    //- script(type='text/javascript', src='javascripts/vue.global.js')
    //- script(type='text/javascript', src='javascripts/vue@2.6.14.js')
    block content
