body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chart {
  /* table-layout: fixed; */
  /* width: 50%; */
  border-collapse: collapse;
  border: 3px solid black;
}

.in_chart {
  margin: 5px;
  border-collapse: collapse;
  border: 3px solid black;
}
